---
type Props = {
  title: string
  tabGroupId: string
  checked?: boolean | undefined
}
const { title, tabGroupId, checked } = Astro.props
---

<input
  type='radio'
  name={tabGroupId}
  role='tab'
  class='tab'
  aria-label={title}
  checked={checked ? 'checked' : undefined}
/>
<div class='tab-content'>
  <slot />
</div>
