---
import { getCollection, type CollectionEntry } from 'astro:content';
import BaseHead from '../../components/base-head.astro';
import Link from '../../components/link.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const {title, description} = post.data
const { Content } = await post.render();
---

<!DOCTYPE html>
<html lang="en">
<head>
  <BaseHead title={title} description={description} />
</head>
<body>
  <ul>
    <li><Link href="/">Home</Link></li>
    <li><Link href="/blog">Blog</Link></li>
  </ul>
  <Content />
</body>
</html>

