---
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
const {BASE_URL} = import.meta.env;
---

<ul>
  <li><a href={BASE_URL}>Home</a></li>
  <li><a href={`${BASE_URL}blog`}>Blog</a></li>
</ul>
<Content />