---
import { getCollection } from "astro:content";
import BaseHead from "../../components/base-head.astro";
import Link from "../../components/link.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!DOCTYPE html>
<html lang="en">
<head>
  <BaseHead title="Sujeet's Blogs" description="List of all the blogs" />
</head>
<body>
  <section>
    <h1>Blogs</h1>
    <ul>
      <li><Link href="/">Home</Link></li>
      <li><Link href="/blog">Blog</Link></li>
    </ul>
    <ul>
      {posts.map((post) => (
        <li>
          <Link href={`/blog/${post.slug}`}>{post.data.title}</Link>
        </li>
      ))}
    </ul>
  </section> 
</body>
</html>
