---
import Link from '@/components/core/link.astro'
import { REDIRECTION_MAP } from '@/configs/redirection'
import { Icon } from 'astro-icon/components'
---

<footer class='bg-base-200 text-base-content p-10'>
  <div class='footer sm:footer-horizontal'>
    <nav>
      <h6 class='footer-title'>Writings</h6>
      <Link href='/post'>Blogs</Link>
      <Link href='/category'>Categories</Link>
      <Link href='/tag'>Tags</Link>
      <Link href='/drafts'>Drafts</Link>
    </nav>
    <nav>
      <h6 class='footer-title'>Social</h6>
      <Link href={REDIRECTION_MAP['/linkedin']} target='_blank' class='flex items-center gap-2'>
        Connect @ <Icon name='devicon:linkedin' />
      </Link>
      <Link href={REDIRECTION_MAP['/cv']} target='_blank' class='flex items-center gap-2'>
        View My CV @ <Icon name='carbon:document' />
      </Link>
      <Link href={REDIRECTION_MAP['/download-cv']} target='_blank' class='flex items-center gap-2'>
        Download My CV PDF
        <Icon name='carbon:document-pdf' />
      </Link>
    </nav>
  </div>
  <aside class='text-center pt-5'>
    &copy; {new Date().getFullYear()} Sujeet Jaiswal. All rights reserved.
  </aside>
</footer>
