---

---

<script is:inline>
  ;(function setInitialThemeValueBasedOnUserPreference() {
    let theme = localStorage.getItem('theme')
    if (theme && theme !== 'default') {
      document.documentElement.setAttribute('data-theme', theme)
    }
    console.log('theme:', theme)
  })()
</script>

<div class='dropdown dropdown-end'>
  <div tabindex='0' role='button' class='btn m-1'>
    Theme
    <svg
      width='12px'
      height='12px'
      class='inline-block h-2 w-2 fill-current opacity-60'
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 2048 2048'
    >
      <path d='M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z'></path>
    </svg>
  </div>
  <ul tabindex='0' class='dropdown-content bg-base-300 rounded-box z-1 w-52 p-2 shadow-2xl'>
    <li>
      <input
        type='radio'
        name='theme-dropdown'
        class='theme-controller btn btn-sm btn-block btn-ghost justify-start'
        aria-label='Default'
        value='default'
      />
    </li>
    <li>
      <input
        type='radio'
        name='theme-dropdown'
        class='theme-controller btn btn-sm btn-block btn-ghost justify-start'
        aria-label='Dark Theme'
        value='dark'
      />
    </li>
    <li>
      <input
        type='radio'
        name='theme-dropdown'
        class='theme-controller btn btn-sm btn-block btn-ghost justify-start'
        aria-label='Light Theme'
        value='light'
      />
    </li>
  </ul>
</div>

<script>
  function addThemeToggleHandlers() {
    const toggleThemeRadios = document.querySelectorAll<HTMLInputElement>('.theme-controller')

    // update the dropdown theme radio based on the current theme
    const currentTheme = localStorage.getItem('theme') || 'default'
    toggleThemeRadios.forEach((radio) => {
      if (radio.value === currentTheme) {
        radio.checked = true
      } else {
        radio.checked = false
      }
    })
    // Add event listeners to the dropdown theme radios
    toggleThemeRadios.forEach((radio) => {
      radio.addEventListener('change', () => {
        console.log(radio)
        if (radio.value === 'default') {
          document.documentElement.removeAttribute('data-theme')
          localStorage.removeItem('theme')
        } else {
          document.documentElement.setAttribute('data-theme', radio.value)
          localStorage.setItem('theme', radio.value)
        }
      })
    })
  }

  document.addEventListener('astro:after-swap', addThemeToggleHandlers)
  document.addEventListener('DOMContentLoaded', addThemeToggleHandlers)
</script>
