---
import Accordion from '@/components/core/accordion.astro'
import Link from '@/components/core/link.astro'
import type { SeriesEntry } from '@/utils/series-content.utils'
type Props = {
  series: SeriesEntry
  postId: string
}
const { series, postId } = Astro.props
const currentPostIdx = series.posts.findIndex((post) => post.id === postId)

function getIcon(idx: number) {
  if (idx === currentPostIdx) {
    return '★'
  } else if (idx < currentPostIdx) {
    return '✓'
  } else {
    return '●'
  }
}
---

<section class='bg-base-200 my-4'>
  <Accordion title={`Part of Series: ${series.name}`}>
    <ul class='steps steps-vertical'>
      {
        series.posts.map((post, idx) => (
          <li class:list={['step', { 'step-neutral': idx <= currentPostIdx }]} data-content={getIcon(idx)}>
            <Link href={`/post/${post.id}`}>{post.title}</Link>
          </li>
        ))
      }
    </ul>
  </Accordion>
</section>
