---
import Accordion from '@/components/accordion.astro'
import Link from '@/components/link.astro'
import { COLOR_BG_MUTED } from '@/configs/colors'
import type { SeriesEntry } from '@/utils/series-content.utils'
type Props = {
  series: SeriesEntry
  postId: string
}
const { series, postId } = Astro.props
---

<section class:list={[COLOR_BG_MUTED, 'my-4']}>
  <Accordion title={`Part of Series: ${series.name}`}>
    <ul class='list-[circle] list-inside'>
      {
        series.posts.map((post) => (
          <li class:list={{ 'list-disc': postId === post.id }}>
            <Link href={`/post/${post.id}`}>{post.title}</Link>
          </li>
        ))
      }
    </ul>
  </Accordion>
</section>
