---
import Author from '@/components/author.astro'
import Link from '@/components/link.astro'
import { CLS_SECTION_HEADINGS } from '@/configs/colors'
import Layout from '@/layout/index.astro'
import BlogList from '@/modules/blog/blog-list.astro'
import { getBlogs } from '@/utils/blog-content.utils'

const posts = await getBlogs({ onlyFeatured: true })
---

<Layout title='Sujeet' description='Personal Site'>
  <Author />
  <section>
    <p class='text-xl font-light'>
      Making the world a better place through <strong>quality software</strong>.
    </p>
  </section>
  <section>
    <header class='flex justify-between items-center mt-14 mb-8'>
      <h2 class:list={[CLS_SECTION_HEADINGS]}>Writings</h2>
      <Link href='/blog'>Read all posts</Link>
    </header>
    <BlogList blogs={posts} />
  </section>
</Layout>
