---
import BaseHead from "../components/base-head.astro";
import Link from "../components/link.astro";

---
<!doctype html>
<html lang="en">
	<head>
    <BaseHead title="Sujeet" description="Personal Site" />
	</head>
	<body>
		<h1>Work In Progress</h1>
    <ul>
      <li><Link href="/">Home</Link></li>
      <li><Link href="/blog">Blog</Link></li>
      <li><Link href="/blog/sample-1">Sample 1</Link></li>
    </ul>
	</body>
</html>
