---
import { getCollection } from 'astro:content'
import Author from '$components/author.astro'
import Layout from '$layout'
import PostPreviewItem from '$components/post-preview-item.astro'

const posts = await getCollection('blog', (post) => true || import.meta.env.DEV || !post.data.isDraft)
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<Layout title='Sujeet' description='Personal Site'>
  <Author />
  <section>
    <p class='text-xl text-center italic font-light'>
      Making the world a better place through <strong>quality software</strong>.
    </p>
  </section>
  <section>
    <h2 class='text-2xl my-14'>Writings</h2>
    <ul class='grid grid-cols-1 divide-y'>
      {posts.map((post) => <PostPreviewItem post={post} />)}
    </ul>
  </section>
</Layout>
