---
import ChevronUp from '$icons/chevron-up.astro'

type Props = {
  title: string
}
const { title } = Astro.props
---

<details open class='p-4 bg-blend-lighten'>
  <summary class='cursor-pointer list-none flex items-center justify-between'>
    <span class='font-semibold'>{title}</span>
    <ChevronUp class='accordion-icon' />
  </summary>
  <div class='py-4'>
    <slot />
  </div>
</details>

<style>
  details summary::-webkit-details-marker {
    display: none;
  }

  details[open] .accordion-icon {
    transform: rotate(180deg);
  }
  .accordion-icon {
    transition: transform 0.2s;
  }
</style>
