---
import ChevronUp from '@/icons/chevron-up.astro'

type Props = {
  title: string
  open?: boolean
}
const { title, open = true } = Astro.props
---

<details open={open} class='p-4 bg-blend-lighten'>
  <summary class='cursor-pointer list-none flex items-center justify-between'>
    <slot name='title'><span class='font-semibold'>{title}</span></slot>
    <ChevronUp class='accordion-icon icon' />
  </summary>
  <div class='py-4'>
    <slot />
  </div>
</details>

<style>
  details summary::-webkit-details-marker {
    display: none;
  }

  details[open] .accordion-icon {
    transform: rotate(0deg);
  }
  .accordion-icon {
    transform: rotate(180deg);
    transition: transform 0.2s;
  }
</style>
