---
import Home from '@/icons/home.astro'
import Link from './link.astro'

type Props = {
  crumbs: { name: string; href: string }[]
}
const { crumbs } = Astro.props
// TODO: For Home, use the home icon
---

<nav class='mb-6 rounded text-sm'>
  <ol class='list-reset flex'>
    <li class='flex items-center'>
      <Link href='/'><Home /><span class='sr-only'>Home</span></Link>
      {crumbs.length > 0 && <span class='mx-2'>/</span>}
    </li>
    {
      crumbs.map((crumb, index) => (
        <li class='flex items-center'>
          {index < crumbs.length - 1 ? (
            <>
              <Link href={crumb.href}>{crumb.name}</Link>
              <span class='mx-2'>/</span>
            </>
          ) : (
            <span>{crumb.name}</span>
          )}
        </li>
      ))
    }
  </ol>
</nav>
