---
type Props = {
  href: string
  class?: string | undefined
  target?: '_blank' | undefined
}

const { href: to, class: className, target } = Astro.props
const { BASE_URL } = import.meta.env
let href = to
if (BASE_URL !== '/') {
  if (to === '/') {
    href = BASE_URL
  } else {
    href = BASE_URL + to
  }
}
---

<a href={href} target={target} class:list={['hover:underline underline-offset-2 decoration-dotted', className]}>
  <slot />
</a>
