---
import type { CollectionEntry } from 'astro:content'
import Link from './link.astro'
import FormattedDate from './formatted-date.astro'
import { COLOR_TEXT_MUTED } from '$configs/colors'
type Props = {
  post: CollectionEntry<'blog'>
  arrow?: 'next' | 'prev' | 'none' | undefined
}

const { post, arrow = 'none' } = Astro.props
const { title, description, pubDate, isDraft } = post.data
---

<li class='px-4 py-4 relative flex flex-col gap-y-1 hover:shadow'>
  <h3 class='text-xl'>
    <Link
      href={`/blog/${post.id}`}
      class="after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:content-[' '] flex items-center"
    >
      {arrow === 'prev' ? <span class='mr-2'>←</span> : null}
      <span>{title}</span>
      {arrow === 'next' ? <span class='ml-2'>→</span> : null}
      {isDraft ? <span class='inline-block ml-2 px-1 border opacity-50 text-xs'>Draft</span> : null}
    </Link>
  </h3>
  <span class:list={[COLOR_TEXT_MUTED, 'text-xs']}><FormattedDate date={pubDate} /></span>
  <p>{description}</p>
</li>
