---
import FormattedDate from '@/components/formatted-date.astro'
import Link from '@/components/link.astro'
import type { CollectionEntry } from 'astro:content'

type Props = {
  review: CollectionEntry<'review'>
  arrow?: 'next' | 'prev' | 'none' | undefined
  headingLevel: 'h2' | 'h3'
}

const { review, arrow = 'none', headingLevel: Hx } = Astro.props
const { title, description, readingDate, isDraft } = review.data
---

<li class='px-4 py-4 relative flex flex-col gap-y-1 hover:shadow'>
  <Hx class='text-xl'>
    <Link
      href={`/review/${review.id}`}
      class="after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:content-[' '] flex items-center"
    >
      {arrow === 'prev' ? <span class='mr-2'>←</span> : null}
      <span>{title}</span>
      {arrow === 'next' ? <span class='ml-2'>→</span> : null}
      {isDraft ? <span class='inline-block ml-2 px-1 border text-xs'>Draft</span> : null}
    </Link>
  </Hx>
  <p>
    <span class:list={['text-xs']}>Research Paper</span>
    {
      readingDate ? (
        <span class:list={['text-xs']}>
          <FormattedDate date={readingDate} />
        </span>
      ) : null
    }
  </p>

  {description ? <p>{description}</p> : null}
</li>
