---
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('tag')
  return posts.map((tag) => ({
    params: { id: tag.id },
    props: {
      tag
    }
  }))
}
---

<h1 class='text-3xl'>Whatever</h1>
