---
import { getCollection } from 'astro:content'
import { getBlogPostContent } from 'src/utils/content.utils'
import Layout from '$layout'
import PostList from '$components/post-list.astro'
export async function getStaticPaths() {
  const posts = await getCollection('tag')
  return posts.map((tag) => ({
    params: { id: tag.id },
    props: {
      tag
    }
  }))
}

const { tag } = Astro.props
const posts = await getBlogPostContent({ onlyTag: tag.id })
const { name } = tag.data
---

<Layout title={name} description={`Post related to ${name}`}>
  <h1 class='text-4xl font-light text-center my-14'># {name}</h1>
  <PostList posts={posts} />
</Layout>
