---
import { SITE_REVIEW_TITLE } from '@/configs/site.constants'
import Layout from '@/layout/index.astro'
import ReviewList from '@/modules/review/review-list.astro'
// import TagListAccordion from '@/modules/tag/tag-list-accordion.astro'
import { getReviews } from '@/utils/review-content.utils'
// import { getTagsWithCount } from '@/utils/tag-content.utils.ts'

const reviews = await getReviews()
// const tagsWithCount = await getTagsWithCount({ countBlog: false, countReview: true })
---

<Layout title="Sujeet's Blogs" description='List of all the published blogs'>
  <h1 class='text-4xl font-light text-center my-14'>{SITE_REVIEW_TITLE}</h1>
  <!-- <TagListAccordion tagsWithCount={tagsWithCount} /> -->
  <ReviewList reviews={reviews} />
</Layout>
