---
import AuthorLinks from '../components/author-links.astro'
---

<footer class='border-t my-4 p-2 flex flex-col-reverse md:flex-row justify-between'>
  <div>
    &copy; {new Date().getFullYear()} Sujeet Jaiswal. All rights reserved.
  </div>
  <AuthorLinks />
</footer>
